VITE_SUPABASE_URL=https://wbdxjonzpnbfawvreulz.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_g1_PDGwiBH9rQ3whWroeJg_WUTXWzBP
VITE_ADMIN_EMAIL=miseranataco@gmail.com
VITE_WHATSAPP_LINK=https://wa.link/wrc5mf
